<div class="register-container">
  <h3 class="h3-register" >Register</h3>
  <div class="container container-fluid">
    <form>
      <div  class="alert alert-danger" *ngIf="errorMessages.length>0">
        <p *ngFor="let msg of errorMessages"> {{msg}}</p>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input [(ngModel)]="userDto.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">First Name</label>
        <input [(ngModel)]="userDto.fullname"  type="text" class="form-control" id="lastname" aria-describedby="emailHelp">
      </div>



      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input [(ngModel)]="userDto.password"  type="password" class="form-control" id="exampleInputPassword1" >
      </div>

<!--      <div class="mb-3 form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--      </div>-->
      <div class="d-flex justify-content-between mb-3">
      <button (click)="register1()" type="submit" class="btn btn-primary">Submit
        <em class="fas fa-sign-in-alt">&nbsp;</em>
      </button>
      <div>
        already have an account?&nbsp;
      <button type="button" class="btn btn-link">
        login <em class="fas fa-registered">&nbsp;</em>
      </button>
      </div>
      </div>
    </form>
  </div>
</div>
