<div class=" rounded container-fluid bg-dark bg-gradient" >
  <div class="row justify-content-center ">
    <div class=" rounded col-6   text-center align-items-baseline">
      <img src="assets/trophee.png" alt="imgz" style="max-width: 50%;">
    </div>
  </div>
  <div class=" p-5 row justify-content-end  ">
    <div  class=" rounded col-6
    secondary-bg
    border border-black border-1
    text-center
    align-items-baseline">

      <p class="text-white "> Contests</p>
      <div><!--here we load all the contests-->
        <div class="card bg-dark-subtle " style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div >
         dad

        </div>
      </div>
    </div>
    <div  class=" rounded col-6
    secondary-bg
    border border-black border-1
    text-center
    align-items-baseline">

      <p class="text-white"> Ranking </p>
      <div ><!--here we load all the winners-->

      </div>
    </div>
  </div>
</div>
